Curs1/first-project/.idea/
Curs1/first-project/out/
Curs2/circle-application/.idea/
Curs2/circle-application/out/
Curs3/tema-mostenire/.idea/
Curs3/tema-mostenire/out/

Curs3/vehicle-rental/.idea/
Curs3/vehicle-rental/out/
Curs4/vehicle-rental/.idea/
Curs4/vehicle-rental/out/
Curs4/lambda-exercises/.idea/
Curs4/lambda-exercises/out/
Curs5/vehicle-rental/.idea/
Curs5/vehicle-rental/out/
